<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="../login" method="POST">
  <input type="text" name="name" placeholder="Enter Name"><br>
  <input type="password" name="pass" placeholder="Enter Password"><br>
  <input type="submit">
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script type="text/javascript">
	if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>	
</html>
