<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Register | Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static '/external/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/custom.css' %}">
    <script type="text/javascript" src="{% static '/external/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/external/js/uikit.min.js' %}"></script>
</head>
<body class="uk-background-secondary uk-height-viewport">

<div class="uk-padding-large">

</div>
<div class="uk-grid-small uk-child-width-1-3@s uk-flex-center" uk-grid>
    <form id="signup" class="uk-form-stacked" action="/signup" method="POST">
        <div class="uk-flex-first">
            <div class="uk-card uk-card-default uk-card-body">
                <legend class="uk-legend uk-text-center uk-text-muted uk-text-xlarge">Register</legend>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="name" type="text" placeholder="Enter your Name" value="" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Username</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="username" type="text" placeholder="Enter your Username" value="" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="password" type="password" placeholder="Enter your Password" required>
                    </div>
                </div>
                <span id="form-message" class="uk-text-muted"></span>
                <br>
                <div class="uk-text-center">
                    <input class="uk-button-primary uk-button" type="submit" value="Sign Up" name="login">
                </div>
                <br>
                <div class="uk-text-center">
                    <a class="uk-button uk-button-text" href="/login">Have an account</a>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>